#RStudio
.Rproj.user
.Rhistory
.RData
.Ruserdata

#Outputs
/site
/data/plots
/data/nwp_2500m_forecast
Rplots.pdf
list.html
icefalls_table.json
last_update.json
data/DEM/DGM_AT_5m_epsg31287.tif
data/DEM/_cache_aspect
data/_cache_sunapi
data/nwp_3500m_forecast/nwp_metadata_cache.json
data/_cache_inversion
data/ModelRuns

#Modell anpassen und Fehler suchen
/adj_model
/scripts/AWS Validation/out

#Neue Stationen oder Eisfälle hinzufügen
/add_new
DGM_Tirol_5m_epsg31254_2006_2020.tif
data/DEM/eudem_dem_3035_europe.tif
